
<div class="jumbotron center">
        <h1>Pinterested</h1>
        
         <% if user_signed_in? %>
         
                <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: 'btn btn-info' %>
                <%= link_to "List Pins", pins_path, class: 'btn btn-primary' %>
                <%= link_to "Add Pin", new_pin_path, class: 'btn btn-success' %>
         <% else %>
         
                <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %>
                <%= link_to "Join", new_user_registration_path, class: 'btn btn-success' %>
        
        <% end %>
        
<div>
